<div id="Safety">
  <h3 id="Trust">
    YOU ARE IN A GOOD HANDS....
  </h3>
</div>

<div class="footer-section">
  <div class="footer-column">
    <h4>ABOUT US</h4>
    <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac.</p>
  </div>

  <div class="footer-column">
    <h4>OUR MISSION</h4>
    <p>Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci.</p>
  </div>

  <div class="footer-column">
    <h4>ABOUT US</h4>
    <ul class="footer-list">
      <li>Commodo</li>
      <li>Vestibulum</li>
      <li>Molestie id</li>
      <li>Dapibus at dolor</li>
      <li>Aenean ligula</li>
      <li>Aenean ligula</li>
      <li>Dapibus at dolor</li>
      <li>Molestie id</li>
      <li>Vestibulum</li>
      <li>Commodo</li>
    </ul>
  </div>
</div>

<footer class="main-footer">
  © 2025 Betheme by Muffin group | All Rights Reserved | Powered by WordPress
</footer>
