<%- include("../layouts/main", {
  title: "About",
  pageCss: "About_style.css",
  body: `

<div id="Subheader">
    <div class="container">
        <div class="hero-text">
            <h1>About BeVision</h1>
        </div>
    </div>
</div>

        <section id="info-section" class="info-section">
       <div class="info-box">
    <h2>SEE THE GALLERY</h2>
      <img src="images/Red_dots.png" alt="End of heading">

    <p>
      Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, 
      laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet 
      sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, 
      rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
    </p>
<div class="gallery-grid">
    <div class="gallery-item large-item">
      <img class="large-img" src="images/home_vision_about_building.png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_clinic.png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_building_full_(2).png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_chair.png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_chair_white.png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_girl.png" alt="">
    </div>
    
    <div class="gallery-item">
      <img src="images/home_vision_about_operation.png" alt="">
    </div>
</div>

  </div>
        </section>

<div class="ourclinic">
  <div class="clinic-content">
    <div class="clinic-text">
      <h3>Our Clinic</h3>

      <!-- LEFT COLUMN -->
      <div class="clinic-col">
        <h5 class="para1">
          Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
          vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. auctor, nisi elit consequat
          ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        </h5>
        <p class="para2">
          Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis
          faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere
          cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices
          volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor
          diam pede cursus vitae.
        </p>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="para3">
        <p class="clinic-para">
          Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis
          faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere
          cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices
          volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor
          diam pede cursus vitae.
        </p>
        <p class="para4">
          Eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis,
          varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing.
          Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus
          ante sodales lectus blandit eu, tempor diam pede cursus vitae.
        </p>
      </div>
    </div>
  </div>
</div>
  `
}) %>

