.main-section {
  box-shadow: 0 0 30px rgba(185, 180, 180, 0.3); 
  position: relative;
  z-index: 2;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto; 
}
.divback {
  background-image: url("images/home_vision_about_eye.png");
  background-size: 125% auto; 
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  margin-top: 0%;
}
body {
  font-family: 'Cinzel', Helvetica, Arial, sans-serif;
  margin: 0;
}
header {
  background-color: #183964;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  height: 75px;
  position: relative; 
  top: 20px;
  left: 0; 
  right: 0; 
  z-index: 1000;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.hero-text {
  margin:0px;
  padding: 0px;}

#Subheader{
padding: 100px 10px 100px 36.6px;
}
.hero-text h1 {
  font-size: 60px;
  color: #001E5A;
  font-family:  'Cinzel','Helevetica','Arial','sans-serif';
  margin: 0px;
}
.hero-text p {
  color: rgb(70, 68, 68);
  font-size: 14px;
  margin-bottom: 20px;
   font-family: Georgia, 'Helevetica',Arial,sans-serif;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s ease;
}
.menu a:hover,
.menu a.active {
  background-color: rgba(119, 119, 146, 0.7);
}
.menu a.btn-buy {
  color: rgb(68, 135, 211);
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
#menu-toggle {
  display: none;
}
/* Responsive for mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    background: navy;
    position: absolute;
    top: 80px;
    right: 30px;
    padding: 20px;
  }
  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}
.info-section {
  position: relative;
  max-width: 1200px;
  margin: -10px auto 20px;              
  padding: 0;                        
  z-index: 3;
}
.info-box {
  background-color:white;         
  padding: 60px 70px 50px;
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
  text-align: center;
}

.info-box h2 {
  font-size: 38px;
  color: #001E5A;
  font-family: 'Cinzel','Helvetica','Arial','sans-serif';
  margin: 0 0 20px;
}

.info-box p {
  font-size: 16px;
  color: #A8A8A8;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  line-height: 1.6;
  margin: 0 0 30px;
}
#Red_dots {
    margin-top: 0px;
    margin-bottom: 20px;
}
.map-section{
  background: #fff;
  padding: 0px;
}

.map-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.map-wrapper iframe{
  width: 100%;
  height: 400px;
}
.contact-three{
  background:#fff;
  padding: 80px 0;
}
.contact-box{
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 60px;
  box-shadow: 0 0 60px rgba(0,0,0,0.08);
}

.contact-wrap{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.8fr; /* middle slightly wider */
  gap: 15px;
  align-items: start;
  margin-left: 20px;
}
.contact-three h3{
  font-size: 26px;
  letter-spacing: 1px;
  color:#001E5A;
  font-weight:bolder;
  margin: 0 0 15px;
  font-family: 'Cinzel', Helvetica, Arial, sans-serif;
  text-align:left ;
}
#openinghours{
    font-size: 23px;;
}
.
/* LEFT */
.address-img{
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 18px;
}
.address-img img{
  width: 100%;
  height: auto;
  display: block;
}

.address-text{
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  font-style: italic;
  color:#001E5A;
  line-height: 1.5;
  text-align: left;
}
.clinic{
    padding-right: 20px;
}
/* MIDDLE */
.clinic-text{
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  color:#778A8e;
  line-height: 1.7;
  margin: 0 0 18px;
}

.clinic-form input,
.clinic-form textarea{
  width: 100%;
  border: none;
  background: #eaf2f6;
  padding: 8px 8px;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  outline: none;
}

.clinic-form textarea{
  resize: vertical;
  min-height: 90px;
}

.clinic-form .row-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 0px;
  padding: 0%;
}

.clinic-form input{
  margin-bottom: 14px;
}

.clinic-form button{
  background: #2e90b8;
  color:#fff;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  cursor: pointer;
}

.clinic-form button:hover{
  filter: brightness(0.95);
}

/* RIGHT */
.hours-box{
  border: 1px solid #eef1f4;
  padding: 25px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-right: 10px;
}

.hours-text{
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  color:#778A8e;
  font-size: 14px;
  line-height: 1.4;
  margin: 0px;
}

.day{
  text-align: center;
  padding: 0px;
  margin: 0%;
}

.badge{
  display: inline-block;
  background: #f3f5f7;
  color:#7b8a92;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.time{
  color:#2e90b8;
  font-size: 32px;
  font-family: 'Cinzel', Helvetica, Arial, sans-serif;
  margin: 0%;
  padding: 0%;
}

.time sup{
  font-size: 14px;
  vertical-align: super;
}
.divider{
  height: 1px;
  background: #eef1f4;
  margin: 16px 0;
}

/* Responsive */
@media (max-width: 1024px){
  .contact-wrap{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .hours-box::after{ font-size: 140px; }
}
#Trust{
   color: #001E5A;
   font-size: 27px;
   font-family: 'Cinzel','Helvetica','Arial','sans-serif';
   font-weight: lighter;
   text-align: center;
 padding: 50px 0px 0px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: white;
}

.footer-column {
  width: 30%; 
}

.footer-column h4 {
  font-size: 18px;
  color: #001E5A;
  font-family: 'Cinzel','Helvetica','Arial','sans-serif';
  margin-bottom: 20px;
  font-weight: lighter;
}

.footer-column p {
  font-size: 13px;
  color: #778A8e;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  line-height: 1.6;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 20px;
}

.footer-list li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  position: relative;
  padding-left: 25px;
}

.footer-list li:before {
  content: "";
  background-image: url("images/list_style.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 2px;
}
.main-footer {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color:white;              
  font-family: Georgia, 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.1); 
  background-color: #52a9c9;
  height: 50px;
}

